body,
h1,
h2,
a,
p {
    font-family: 'inter';
    text-align: center;
    margin: 0;
}
/* body{
    background-color: black;
} */
.draw-buttons {
    margin: .5em auto;
}

.draw-buttons>button {
    margin: 0 .5rem;
    padding: .2rem;
    font-family: "inter";
    font-size: clamp(1rem, 6vw, 3rem);
    color: white;
    background-color: #9172da;
    border: none;
    border-radius: 5px;
}

.result {
    display: flex;
    justify-content: center;
    gap: 6rem;
    max-width: 80rem;
    margin: .5rem auto;
}

.items {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 26%;
}


.items img {
    margin-top: 10px;
    outline: solid #9172da 10px;
    max-width: 15em;
    border-radius: 3px;
    aspect-ratio: 2/3;
}

.items>p {
    margin-top: 10px;
    max-width: 15em;
    font-weight: 800;
    font-size: clamp(1.8rem,6vw,2rem);
}

@media screen and (max-width:40rem) {
    .result {
        flex-direction: column;
        align-items: center;
        gap:3rem;
    }
    .items{
        max-width: 100%;
    }
    .items img{
        max-width: 10em
    }
    .items p{

    }
}