body{
    
    height:100%
}
.image{
    width: 200px;
    height: 300px;
    margin: 5px 10px;
    border-style:solid;
    border-width:4px;
    border-radius: 4px;
    border-color: black;
    display: flex;
}
.result{
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    width:640px;
    height:400px;
}
.result > div{
    width: 640px;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;
}
h1{
    width: 17em;
    font-size: 2.7em;
    margin-left:auto;
    margin-right: auto;
}
.nav-bar{
    margin: 5px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    width: 1000px;
    height: 40px;
    list-style: none;
    border-radius: 4px;
    background-color: #800080;
    align-items: center;
    justify-content: space-between;
}
.nav-bar>a{
    text-decoration: none;
    text-align: center;
    margin: 0 10px;
    font-family: "Inter";
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}
.draw-buttons{
    margin: 5px 0;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    display: flex;
    width: 500px;
    height: 30px;
    list-style: none;
    align-items: center;
    justify-content: space-between;}
.draw-buttons>button{
    border: none;
    color: white;
    background-color: #686868;
    cursor: pointer;
    font-size: 23px;
    border-radius: 4px;
}
.draw-buttons>button:hover{
background-color: #a3a3a3;
}
.info{
    margin: 0 17%;
    width: 1000px;
    justify-content: space-evenly;
    display: flex;
}
#bronzelist, #silverlist, #watchedlist, #movielist{
    height: 420px;
    width: 221px;
    margin: 10px;
    background-color: rgb(234, 234, 234);
    border-radius: 4px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.indivnam{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: black solid 1px;
    border-radius: 2px;
    text-align: center;
    padding: 1px;
    margin:2.5px 0
}
#title{
    font-weight: 800;
    font-size: 20px;
    text-align: center;
}
.name{
 font-weight: 600;
}
.date{
    text-decoration: underline;
}
#copy-btn{
    margin: 5px 30%;
}