.nav-bar{
    position:sticky;
    top:0%;
    max-width: 100%;
    background: #9172da;
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar>a{
    font-size: clamp(1rem, 3vw, 1.8rem);
    font-weight: 600;
    padding: .25em;
    color: white;
    text-decoration: none;
    margin: 0 1em;
}
.header{
    margin: 0;
    font-size: clamp(1rem, 10vw, 3rem);
    font-weight: 800;
}

.bg-img {
    background-image: url("images/Shash_glyph.svg");
    opacity: .2;
    z-index: -1;
    width: 99%;
    height: 99%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size:contain;
}

@media screen and (max-width:40rem){
    .nav-bar{
        flex-wrap: wrap;
    }
    .nav-bar>a{
        margin: .2rem;

    }
}