body, h1, h2, a,p{
    font-family: 'inter';
    text-align: center;
    margin: 0;
}
.container{

    margin: 1rem auto 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}
.list{
    max-width: fit-content;
    max-height: 37rem;
    text-align: end;
    overflow-y: scroll;
}
.list>h3{
    margin: 0;
}
.movies{
    text-decoration: underline;
    padding: .5rem 0;
}
.result{
    display: flex;
    flex-direction: column;
}
.result>span{
    padding: .2rem 0;
}
.raffle{
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.raffle>h2{
    font-size: 1.5rem;
}
.raffle>button{
    font-size: 1.2rem;
    max-width: 5rem;
}
